parameters:
  - name: pool
    type: object
    default:
      vmImage: ubuntu-18.04

  - name: install
    type: boolean
    default: true

  - name: debug
    type: boolean
    default: false

jobs:
  - job: Changelog
    displayName: Auto generate Changelog
    pool: ${{ parameters.pool }}
    variables:
      - name: System.Debug
        value: ${{ parameters.debug }}

    steps:
      - checkout: self
        persistCredentials: true

      - template: tools/gitVersion.yml
        parameters:
          debug: ${{ parameters.debug }}

      - template: tools/git_global_config.yml

      - template: tools/install_git-chglog.yml
        parameters:
          install: ${{ parameters.install }}
